@page "/users"
@inject IUnitOfWork _unit;
    <a class="btn-sm" href="users/create"> Create</a>
<h3>Index</h3>

@if (_model == null)
{
    <LoadingMessage Message="loading record.."></LoadingMessage>
}
else
{
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in _model)
            {
                <tr>
                    <td>
                        @record.UserName
                    </td>
                    <td>
                        <a href="users/@record.Id" class="btn btn-primary">
                            <span class="oi-info">
                                Details
                            </span>
                        </a>
                        <a class="btn btn-danger" @onclick="(()=> DeleteRecordAsync(record.Id))">
                            <span class="oi-info">Delete</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    IEnumerable<AppUser> _model;
    protected async override Task OnInitializedAsync()
    {
        _model = await _unit.AppUsers.GetAllAsync();
    }
    public async Task DeleteRecordAsync(int id)
    {
        await _unit.MoneyChangeTypes.RemoteAsync(id);
        _model = _model.Where(items => items.Id != id);
    }
}